**Credit Default Prediction**

The data set consists of 2000 samples from each of two categories. Five variables are

Income

Age

Loan

Loan to Income (engineered feature)

Default

Dataset: https://github.com/ybifoundation/Dataset/raw/main/Credit%20Default.csv

In [ ]:
import pandas as pd

In [ ]:
credit = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Credit%20Default.csv')

In [ ]:
credit.head()

        Income        Age         Loan  Loan to Income  Default
0  66155.92510  59.017015  8106.532131        0.122537        0
1  34415.15397  48.117153  6564.745018        0.190752        0
2  57317.17006  63.108049  8020.953296        0.139940        0
3  42709.53420  45.751972  6103.642260        0.142911        0
4  66952.68885  18.584336  8770.099235        0.130990        1

In [ ]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Income          2000 non-null   float64
 1   Age             2000 non-null   float64
 2   Loan            2000 non-null   float64
 3   Loan to Income  2000 non-null   float64
 4   Default         2000 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 78.2 KB

In [ ]:
credit.describe()

             Income          Age          Loan  Loan to Income      Default
count   2000.000000  2000.000000   2000.000000     2000.000000  2000.000000
mean   45331.600018    40.927143   4444.369695        0.098403     0.141500
std    14326.327119    13.262450   3045.410024        0.057620     0.348624
min    20014.489470    18.055189      1.377630        0.000049     0.000000
25%    32796.459720    29.062492   1939.708847        0.047903     0.000000
50%    45789.117310    41.382673   3974.719418        0.099437     0.000000
75%    57791.281670    52.596993   6432.410625        0.147585     0.000000
max    69995.685580    63.971796  13766.051240        0.199938     1.000000

In [ ]:
credit.shape

(2000, 5)

In [ ]:
credit.columns

Index(['Income', 'Age', 'Loan', 'Loan to Income', 'Default'], dtype='object')

In [ ]:
y = credit['Default']
X = credit.drop('Default',axis=1)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=2529)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1400, 4), (600, 4), (1400,), (600,))

In [ ]:
X_train

           Income        Age          Loan  Loan to Income
67    30735.80850  22.242098   5946.822297        0.193482
60    37660.77072  53.745060   2129.597165        0.056547
1751  65913.83084  36.477758  11738.915710        0.178095
300   27218.56103  55.171020   4145.003587        0.152286
1504  43044.51778  60.848424   1661.713460        0.038605
...           ...        ...           ...             ...
740   63661.38333  25.595524   6095.308749        0.095746
399   24037.16514  23.311574   2469.364426        0.102731
828   68100.73562  47.752940   8124.598980        0.119303
1586  34163.62565  45.782718   6617.400172        0.193697
1376  60624.81537  39.857788   6740.716136        0.111187

[1400 rows x 4 columns]

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [ ]:
model.fit(X_train, y_train)

LogisticRegression()

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.97      0.97      0.97       519
           1       0.83      0.79      0.81        81

    accuracy                           0.95       600
   macro avg       0.90      0.88      0.89       600
weighted avg       0.95      0.95      0.95       600

In [ ]:
accuracy_score(y_test, y_pred)

0.95

In [ ]:
confusion_matrix(y_test, y_pred)

array([[506,  13],
       [ 17,  64]])