**Fish Species Prediction**

Identify the category of fish from 7 common different fish species.

Dataset : https://github.com/ybifoundation/Dataset/raw/main/Fish.csv

In [ ]:
import pandas as pd

In [ ]:
fish = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Fish.csv')
fish.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0

In [ ]:
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [ ]:
fish.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [ ]:
fish.nunique()

Category      7
Species       7
Weight      101
Height      154
Width       152
Length1     116
Length2      93
Length3     124
dtype: int64

In [ ]:
fish.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [ ]:
y = fish['Species']
X = fish.drop(['Species','Category'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=2529)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((111, 6), (48, 6), (111,), (48,))

In [ ]:
X_train

     Weight   Height   Width  Length1  Length2  Length3
25    725.0  16.3600  6.0532     31.8     35.0     40.9
102   300.0   8.3230  5.1373     25.2     27.3     28.7
61     55.0   6.8475  2.3265     13.5     14.7     16.5
137   500.0   6.9600  4.8960     42.0     45.0     48.0
145     6.7   1.7388  1.0476      9.3      9.8     10.8
..      ...      ...     ...      ...      ...      ...
72      5.9   2.1120  1.4080      7.5      8.4      8.8
143  1550.0   9.6000  6.1440     56.0     60.0     64.0
60   1000.0  12.3540  6.5250     37.3     40.0     43.5
50    200.0   7.3968  4.1272     22.1     23.5     26.8
96    225.0   7.2930  3.7230     22.0     24.0     25.5

[111 rows x 6 columns]

In [ ]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

In [ ]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

accuracy_score(y_test,y_pred)

0.7708333333333334

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       Bream       0.92      1.00      0.96        11
      Parkki       0.50      1.00      0.67         1
       Perch       0.68      0.88      0.77        17
        Pike       1.00      1.00      1.00         5
       Roach       0.50      0.14      0.22         7
       Smelt       1.00      0.67      0.80         6
   Whitefish       0.00      0.00      0.00         1

    accuracy                           0.77        48
   macro avg       0.66      0.67      0.63        48
weighted avg       0.76      0.77      0.74        48

In [ ]:
confusion_matrix(y_test, y_pred)

array([[11,  0,  0,  0,  0,  0,  0],
       [ 0,  1,  0,  0,  0,  0,  0],
       [ 1,  0, 15,  0,  1,  0,  0],
       [ 0,  0,  0,  5,  0,  0,  0],
       [ 0,  1,  4,  0,  1,  0,  1],
       [ 0,  0,  2,  0,  0,  4,  0],
       [ 0,  0,  1,  0,  0,  0,  0]])